::-webkit-scrollbar, .hybvsw6c > .rj1gh0hx {
    display: none !important;
}


.hedjyaoh {
    transform: none !important;
    margin-left: 96px;
}
.qiw3t3sk {
    transform: none !important;
    margin-left: 0;
}
.orhb3f3m {
    transition: margin-left 0.1s ease-in-out;
}