/* Hide ad in left bottom corner and add switch theme button */
.switchTheme {
	cursor: pointer;
}

.switchTheme:hover {
	background-color: var(--hover-overlay);
}
/* - - - */

/* Better scrollbar */
._9dls {
	overflow-y: auto !important;
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-thumb:hover {
	color: var(--gx-accent-color);
}

::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: content-box;
	box-shadow: inset 0 0 0 10px;
	border-radius: 8px;
	transition: all 0.5s;
	color: var(--gx-highlight-color);
}
/* - - - */

/* Fix textbox glitches */
.hedjyaoh {
	transform: none !important;
	margin-left: 96px;
}
.qiw3t3sk {
	transform: none !important;
	margin-left: 0;
}
.orhb3f3m {
	transition: margin-left 0.1s ease-in-out;
}
.thccjwpm {
	width: 100%;
}
/* - - - */

/* Hide/Show users freinds */
div[role="navigation"] {
	/*position: absolute;*/
	transition: width 0.5s;
}
.zeroWidth {
	width: 0px !important;
}
/* - - - */

/* Button */
div.g0mhvs5p.g0mhvs5p {
	width: 80px !important;
}
/* - - - */

/* Search result panel */
.j34wkznp.qp9yad78.pmk7jnqg.kr520xx4[style="transform: translate(0px, 56px); width: 108px;"] {
	width: 100% !important;
	max-width: 360px;
}
/* - - - */
